<div>
  <h2>Welomce to {{ title }}</h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/userform" routerLinkActive="active"
        >User Form</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/userdetails" routerLinkActive="active"
        >User Form</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active"
        >Settings</a
      >
    </li>
  </ul>
  <br />
</div>

<router-outlet></router-outlet>
